<div class="container-flex">
          <div class="row">
              <h1>Contact</h1>
          </div>
          <div class="row">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div class="row">
            <div class="card" style="width: 70%; margin:auto; background-color: rgb(230, 228, 228); border: solid, darkgray, 1px;">
                <div class="card-body">
          <form>
            <div class="row mb-3">
                <div class="col-md-3 mt-2 text-end">
                    <label for="exampleFormControlInput1" class="form-label"><b>Your E-Mail</b></label>
                </div>
                <div class="col-md">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your E-Mail" style="max-width:100%">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-3 mt-2 text-end">
                    <label for="exampleFormControlTextarea1" class="form-label"><b>Your Message</b></label>
                </div>
                <div class="col-md">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
                </div>
              </div>
              <div class="row justify-content-end" style="margin-right: 1px; padding-top: 2px; padding-bottom: 2px; ">
                <button type="submit" class="btn btn-primary col-sm-2">Submit</button>
                </div>
          </form>
        </div>
        </div>
            </div>
</div>