<div class="container">
    <div class="row center">
      <div class="col-10">
        <p><b>This First Heading</b> <gray>Will Catch Your Eye</gray>/p>
            <p>Done ullamcorper nulla non metus actor fringilla. Vestibulum id ligula porta felis
            euismod semper. Present commodo cursus magna, vel scelerisque nisl
            consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
       </div>
      <div class="col-6">
        <img src="https://ibb.co/M1pzq3C"class="rounded" alt="float -eft"width="304" height="236 /> 
      </div>
</div>
