        <div class="p-5 bg-light d-flex justify-content-center fontstyle align-items-center" >
              <div class= "w-50 p-2"> 
                 <h1><b>This First Heading</b> <span class="text-secondary">Will Catch Your Eye</span></h1>
                    <h3 class="fs-2 "> Done ullamcorper nulla non metus actor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Present commodo cursus magna, vel scelerisque nisl
                    consectetur. Fusce dapibus, tellus ac cursus commodo.</h3>
               </div>     
            <img src="https://i.ibb.co/3FWxtLC/rrrff.jpg"class="img-fluid p-3 rounded-circle w-25"/> 
        </div>
    