<div class="p-5 bg-light d-flex justify-content-center fontstyle align-items-center" >
    <img src="https://github.com/Codekgeek26/Git/blob/master/website/assets/img/2.jpg?raw=true"class="img-fluid p-3 rounded-circle w-25"/>
    <div class= "w-50 p-2"> 
       <h1><b>The Second Heading</b><span class="text-secondary"> Is Pretty Cool Too.</span></h1>
          <h3 class="fs-2 ">Done ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
            euismod semper. Present commodo cursus magna, vel scelerisque isl consectetur.
            Fuse dapibus, tellus ac cursus commodo,.</h3>
     </div>      
</div>
